* {
    padding: 0;
    margin: 0px;
      
}
body a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBEDED;
     position: relative;
 }

 main {
   margin-top: 30px;
    
 }

.section {
   
    margin: 10px;
    padding: 30px;
    background-color: #FFFFFF;
    max-width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dim-img {
    max-width: 200px;
    padding: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-direction {
    display: flex;
    flex-direction: column;
}
 .first-title {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
    font-size: 2em;
 }
 
 .a-color {
    color: #017185;
    
 }
 .div-a {
    margin-top: 50px;
 }

 .logo {
    width: 60px;
    background-color: none;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
 }
 .logo-container {
    position: relative;
    text-align: center;
 }